services:
  tts:
    image: ghcr.io/tinycodelabs/piper-voice-tts:latest
    user: "10001:10001"
    volumes:
      - run:/app/run
      - voices:/app/voices
      - out:/app/out

volumes:
  voices:
  out:
  run:
